body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;

}
p{
    font-size: 25px;
}
.one{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
    }
.link-button{
    text-decoration: none;
    background-color: coral;
    padding: 10px 40px; 
    border-radius: 20px; 
    color: white;
    font-weight: 700
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url(../images/t.png)

}
.second-section{
    background-repeat: no-repeat;
    background-image: url(../images/l.png);
    background-position: right;
}
.experience-items{
    width: 40%;
    margin-left: 6%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}
.experience-areas{
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(../images/m.png);
}
.text-align{
    text-align: center;
    text-decoration-line: underline;
}
#baby-Stack-Web-Developer{
 border-left: 7px solid; 
 background-image: linear-gradient(blue cyan );
 border-image-slice: 1;
}
#Full-Stack-Web-Developer{
    border-left: 7px solid; 
    background-image: linear-gradient(red tomato );
    border-image-slice: 1;

}
footer p{
    text-align: center;
}
.Educational-top{
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../images/m.png);
    

}
#Running-Versity-life{
    margin-left: 1000px;
border-left: 7px solid; 
 background-image: linear-gradient(blue cyan );
 border-image-slice: 1;

}
#Higher-secondary-school{
    
 border-left: 7px solid; 
 background-image: linear-gradient(blue cyan );
 border-image-slice: 1;

}
#Insha-allah{
    font-weight: 400;
    
}
.Educational-Backgroud{
    width: 28%;
    margin-left: 6%;
    margin-right: 5%;
    padding-top: 120px;
    padding-left: 250px;
    

}
